Django==3.2.22
django-jet==1.0.7
google-api-python-client==1.4.1
httplib2==0.10.3
oauth2client==4.1.2
olefile==0.45.1
Pillow==4.2.1
psycopg2==2.7.3.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pytz==2018.3
rsa==3.4.2
six==1.11.0
uritemplate==3.0.0
feedparser==5.2.1